<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit show</title>
</head>
<body>
    <div>
        {{active_user.username}}
        <a href="/dashboard">home</a>
        <a href="/logout">logout</a>
    </div>
    <div>
        <h1>Edit Show</h1>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div>
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
        </div>
        <form action="/shows/edit" enctype="multipart/form-data" method="POST">
            <div>
                <div>Show Name:</div>
                <input type="text" name="name" id="name" value="{{show.name}}">
            </div>
            <div>
                <div>Artists:</div>
                <input type="text" name="artists" id="artists" value="{{show.artists}}">
            </div>
            <div>
                <div>location:</div>
                <input type="text" name="location" id="location" value="{{show.location}}">
            </div>
            <div>
                <div>Date:</div>
                <input type="date" name="date" id="date" value="{{show.date.strftime('%Y-%m-%d')}}">
            </div>
            <div>
                <div>Show rating:</div>
                <input type="number" name="rating" id="rating" min="0" max="10" value="{{show.rating}}">
            </div>
            <div>
                <div>Thoughts:</div>
                <textarea name="thoughts" id="thoughts">{{show.thoughts}}</textarea>
            </div>
            <div>
                <div>
                    Make public?
                </div>
                <div>
                    <input type="radio" name="public" id="yes" value="1" {% if show.public == 1 %} checked {% endif %} >
                    <label for="yes">Yes</label>
                    <input type="radio" name="public" id="no" value="0" {% if show.public == 0 %} checked {% endif %} >
                    <label for="no">No</label>
                </div>
            </div>
            <div>
                <label for="file_name">upload a picture of the show</label>
                <input type="file" name="file_name" id="file_name" {% if show.file_name != None %} value="{{show.file_name}}" {% endif %}>
            </div>
            {% if show.file_name !=  None %}
        <div>
            <div>current image:</div>
            <img src="/shows/image/{{show.id}}"/>
        </div>
        <div>
            <label for="remove_image">remove image?</label>
            <input type="checkbox" name="remove_image" id="remove_image">
        </div>
        {% endif %}
            <input type="hidden" name="user_id" value="{{show.user_id}}">
            <input type="hidden" name="id" value="{{show.id}}">
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>