<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View show</title>
</head>
<body>
    <div>
        {{active_user.username}}
        <a href="/dashboard">home</a>
        <a href="/logout">logout</a>
    </div>
    <div>
        <h1>
            {{show.name}}
        </h1>
    </div>
    <div>
        <h3>Artists</h3>
        {{show.artist}}
    </div>
    <div>
        <div>
            <h3>Thoughts about the show</h3>
            {{show.thoughts}}
        </div>
        <div>
            {% if show.user_id != active_user.id %}
            <h3>Posted by:</h3>{{show.creator.username}}
            {% endif %}
            <h3>Location:</h3>
            {{show.location}}
            <h3>date:</h3>
            {{show.date.strftime('%b-%d-%Y')}}
            <h3>show rating:</h3>
            {{show.rating}}/10
            <div>
                {% if show.user_id != active_user.id %}
                    {% if liked == ( )%}
            <form action="/shows/add/like" method="POST">
                <input type="hidden" name="user_id" value="{{active_user.id}}">
                <input type="hidden" name="show_id" value="{{show.id}}">
                <button type="submit">Like post</button>
            </form>
                    {% elif liked != ( ) %}
            <form action="/shows/remove/like" method="POST">
                <input type="hidden" name="user_id" value="{{active_user.id}}">
                <input type="hidden" name="show_id" value="{{show.id}}">
                <button type="submit">Unlike post</button>
            </form>
                {% endif %}
            {% endif %}

            </div>
        </div>
        {% if show.file_name !=  None %}
        <div>
            <img src="/shows/image/{{show.id}}"/>
        </div>
        {% endif %}
    </div>
</body>
</html>